<!-- INCLUDE overall_header.html -->
<!-- INCLUDECSS @mundophpbb_simpledown/acp_simpledown.css -->
<h1>{{ lang('ACP_SIMPLEDOWN_SETTINGS') }}</h1>
<div id="acp_simpledown">
    <div class="acp-tabs-container">
        <ul class="tabs">
            <li class="active"><a href="#tab-general">{{ lang('ACP_SIMPLEDOWN_GENERAL_SETTINGS') }}</a></li>
            <li><a href="#tab-announce">{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TITLE') }}</a></li>
            <li><a href="#tab-categories">{{ lang('ACP_SIMPLEDOWN_CATEGORIES') }}</a></li>
            <li><a href="#tab-upload">{{ lang('ACP_SIMPLEDOWN_ADD_FILE') }}</a></li>
            <li><a href="#tab-thumb">{{ lang('ACP_SIMPLEDOWN_UPLOAD_THUMB') }}</a></li>
        </ul>
        <form id="config-form" method="post" action="{{ U_ACTION }}">
            {{ S_FORM_TOKEN }}
            <!-- ABA GERAL -->
            <div id="tab-general" class="tab-panel active">
                <fieldset>
                    <legend>{{ lang('ACP_SIMPLEDOWN_GENERAL_SETTINGS') }}</legend>
                    <dl>
                                                <dt><label for="max_upload_size">{{ lang('ACP_SIMPLEDOWN_MAX_UPLOAD_SIZE') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_MAX_UPLOAD_SIZE_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <div class="input-unit">
                                <input type="number" name="max_upload_size" id="max_upload_size" value="{{ MAX_UPLOAD_SIZE }}" min="1" step="1" />
                                <span class="unit">{{ lang('ACP_SIMPLEDOWN_UPLOAD_SIZE') }}</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="short_desc_limit">{{ lang('ACP_SIMPLEDOWN_SHORT_DESC_LIMIT') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_SHORT_DESC_LIMIT_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <div class="input-unit">
                                <input type="number" name="short_desc_limit" id="short_desc_limit" value="{{ SHORT_DESC_LIMIT }}" min="50" max="500" step="10" />
                                <span class="unit">{{ lang('CHARACTERS') }}</span>
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>{{ lang('ACP_SIMPLEDOWN_SITE_THEME') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_SITE_THEME_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <select name="site_theme">
                                <option value="light" {% if SITE_THEME == 'light' or not SITE_THEME %}selected{% endif %}>{{ lang('ACP_SIMPLEDOWN_LIGHT_THEME') }}</option>
                                <option value="dark" {% if SITE_THEME == 'dark' %}selected{% endif %}>{{ lang('ACP_SIMPLEDOWN_DARK_THEME') }}</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="cards_per_row">{{ lang('ACP_SIMPLEDOWN_CARDS_PER_ROW') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_CARDS_PER_ROW_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <select id="cards_per_row" name="cards_per_row">
                                <option value="2" {% if CARDS_PER_ROW == 2 %}selected{% endif %}>2 {{ lang('ACP_SIMPLEDOWN_CARDS') }}</option>
                                <option value="3" {% if CARDS_PER_ROW == 3 or not CARDS_PER_ROW %}selected{% endif %}>3 {{ lang('ACP_SIMPLEDOWN_CARDS') }}</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>{{ lang('ACP_SIMPLEDOWN_ALLOW_USER_LAYOUT_CHOICE') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_ALLOW_USER_LAYOUT_CHOICE_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <label><input type="radio" name="allow_user_layout_choice" value="1" {% if ALLOW_USER_LAYOUT_CHOICE %}checked{% endif %} /> {{ lang('YES') }}</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="allow_user_layout_choice" value="0" {% if not ALLOW_USER_LAYOUT_CHOICE %}checked{% endif %} /> {{ lang('NO') }}</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>{{ lang('ACP_SIMPLEDOWN_DEFAULT_VISIBILITY') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_DEFAULT_VISIBILITY_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <label><input type="radio" name="default_is_private" value="0" {% if not DEFAULT_IS_PRIVATE %}checked{% endif %} /> {{ lang('ACP_SIMPLEDOWN_PUBLIC') }}</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="default_is_private" value="1" {% if DEFAULT_IS_PRIVATE %}checked{% endif %} /> {{ lang('ACP_SIMPLEDOWN_PRIVATE') }}</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>{{ lang('ACP_SIMPLEDOWN_PRIVATE_CATEGORIES') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_PRIVATE_CATEGORIES_EXPLAIN') }}<br><em>{{ lang('ACP_SIMPLEDOWN_PRIVATE_CATEGORIES_HOLD_CTRL') }}</em></span>
                        </dt>
                        <dd>
                            <select name="private_categories[]" multiple size="8">
                                <option value="0" disabled>{{ lang('ACP_SIMPLEDOWN_NO_CATEGORY') }}</option>
                                {% for category in loops.categories %}
                                    <option value="{{ category.ID }}" {% if category.ID in PRIVATE_CATEGORIES %}selected{% endif %}>{{ category.NAME }}</option>
                                {% endfor %}
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="private_message">{{ lang('ACP_SIMPLEDOWN_PRIVATE_MESSAGE') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_PRIVATE_MESSAGE_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <textarea name="private_message" id="private_message" rows="4" cols="80">{{ PRIVATE_MESSAGE }}</textarea>
                        </dd>
                    </dl>
                    <p class="submit-buttons">
                        <input class="button1" type="submit" name="config_submit" value="{{ lang('ACP_SIMPLEDOWN_SAVE_CONFIG') }}" />
                    </p>
                </fieldset>
            </div>
            <!-- ABA ANÚNCIO -->
            <div id="tab-announce" class="tab-panel">
                <fieldset>
                    <legend>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TITLE') }}</legend>
                    <dl>
                        <dt><label>{{ lang('ACP_SIMPLEDOWN_AUTO_ANNOUNCE') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <label><input type="radio" name="auto_announce" value="1" {% if AUTO_ANNOUNCE %}checked{% endif %} /> {{ lang('YES') }}</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="auto_announce" value="0" {% if not AUTO_ANNOUNCE %}checked{% endif %} /> {{ lang('NO') }}</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="announce_forum">{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_FORUM') }}:</label>
                        <span>{{ lang('ACP_SIMPLEDOWN_FORUM_ANNOUNCE_EXPLAIN') }}</span><dd></dt>{{ ANNOUNCE_FORUM_SELECT|raw }}</dd>
                    </dl>
                    <dl>
                        <dt><label for="announce_type">{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TYPE') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TYPE_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <select name="announce_type" id="announce_type">
                                <option value="normal" {% if ANNOUNCE_TYPE == 'normal' or not ANNOUNCE_TYPE %}selected{% endif %}>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TYPE_NORMAL') }}</option>
                                <option value="sticky" {% if ANNOUNCE_TYPE == 'sticky' %}selected{% endif %}>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TYPE_STICKY') }}</option>
                                <option value="announce" {% if ANNOUNCE_TYPE == 'announce' %}selected{% endif %}>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TYPE_ANNOUNCE') }}</option>
                                <option value="global" {% if ANNOUNCE_TYPE == 'global' %}selected{% endif %}>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TYPE_GLOBAL') }}</option>
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_LOCKED') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_LOCKED_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <label><input type="checkbox" name="announce_locked" value="1" {% if ANNOUNCE_LOCKED %}checked{% endif %} /> {{ lang('YES') }}</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="announce_title_template">{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TITLE_TEMPLATE') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_TITLE_EXPLAIN') }}</span>
                        </dt>
                        <dd><input type="text" name="announce_title_template" id="announce_title_template" value="{{ ANNOUNCE_TITLE_TEMPLATE }}" size="80" maxlength="255" /></dd>
                    </dl>
                    <dl>
                        <dt><label for="announce_message_template">{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_MESSAGE_TEMPLATE') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_ANNOUNCE_MESSAGE_EXPLAIN') }}</span>
                        </dt>
                        <dd><textarea name="announce_message_template" id="announce_message_template" rows="10" cols="80">{{ ANNOUNCE_MESSAGE_TEMPLATE }}</textarea></dd>
                    </dl>
                    <p class="submit-buttons">
                        <input class="button1" type="submit" name="config_submit" value="{{ lang('ACP_SIMPLEDOWN_SAVE_CONFIG') }}" />
                    </p>
                </fieldset>
            </div>
        </form>
        <!-- ABA CATEGORIAS -->
        <div id="tab-categories" class="tab-panel">
            <!-- Form add category -->
            <form id="add-category-form" method="post" action="{{ U_ACTION }}">
                {{ S_FORM_TOKEN }}
                <fieldset>
                    <legend>{{ lang('ACP_SIMPLEDOWN_ADD_CATEGORY') }}</legend>
                    <dl>
                        <dt><label for="cat_name">{{ lang('ACP_SIMPLEDOWN_CATEGORY_NAME') }}:</label></dt>
                        <dd><input type="text" id="cat_name" name="cat_name" maxlength="255" required /></dd>
                    </dl>
                    <p class="submit-buttons">
                        <input class="button1" type="submit" name="add_cat" value="{{ lang('ACP_SIMPLEDOWN_ADD_CATEGORY') }}" />
                    </p>
                </fieldset>
            </form>
            <!-- Form delete category -->
            <form id="delete-category-form" method="post" action="{{ U_ACTION }}">
                {{ S_FORM_TOKEN }}
                <fieldset>
                    <legend>{{ lang('ACP_SIMPLEDOWN_DELETE_CATEGORY') }}</legend>
                    <dl>
                        <dt><label for="delete_category">{{ lang('ACP_SIMPLEDOWN_SELECT_CATEGORY_TO_DELETE') }}:</label></dt>
                        <dd>
                            <select id="delete_category" name="delete_category">
                                <option value="">{{ lang('ACP_SIMPLEDOWN_SELECT_CATEGORY_TO_DELETE') }}</option>
                                {% for category in loops.delete_categories %}
                                    <option value="{{ category.ID }}">{{ category.NAME }}</option>
                                {% endfor %}
                            </select>
                            <input class="button2 danger" type="submit" name="delete_cat_submit" value="{{ lang('ACP_SIMPLEDOWN_DELETE') }}" />
                        </dd>
                    </dl>
                    {% if loops.delete_categories is empty %}
                        <p class="notice">{{ lang('ACP_SIMPLEDOWN_NO_CATEGORIES_YET') }}</p>
                    {% endif %}
                </fieldset>
            </form>
        </div>
        <!-- ABA UPLOAD FILE -->
        <div id="tab-upload" class="tab-panel">
            <form id="upload-file-form" method="post" action="{{ U_ACTION }}" enctype="multipart/form-data">
                {{ S_FORM_TOKEN }}
                <fieldset>
                    <legend>{{ lang('ACP_SIMPLEDOWN_ADD_FILE') }}</legend>
                    <div class="security-notices">
                        <div class="warning-box">
                            <strong><i class="fas fa-exclamation-triangle"></i> {{ lang('ACP_SIMPLEDOWN_SECURITY_WARNING_TITLE') }}</strong>
                            {{ lang('ACP_SIMPLEDOWN_SECURITY_WARNING_TEXT_1') }}<br>
                            {{ lang('ACP_SIMPLEDOWN_SECURITY_WARNING_TEXT_2') }}
                        </div>
                        <div class="allowed-box">
                            <strong><i class="icon fas fa-check-circle"></i> {{ lang('ACP_SIMPLEDOWN_ALLOWED_FILES_TITLE') }}</strong><br>
                            {{ lang('ACP_SIMPLEDOWN_ALLOWED_FILES_TEXT_1') }}<br>
                            {{ lang('ACP_SIMPLEDOWN_ALLOWED_FILES_TEXT_2') }}
                        </div>
                    </div>
                    <dl>
                        <dt><label for="file_name">{{ lang('ACP_SIMPLEDOWN_FILE_NAME') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_FILE_NAME_EXPLAIN') }}</span>
                        </dt>
                        <dd><input type="text" id="file_name" name="file_name" maxlength="255" required /></dd>
                    </dl>
                    <dl>
                        <dt><label for="file_desc_short">{{ lang('ACP_SIMPLEDOWN_SHORT_DESCRIPTION') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_SHORT_DESCRIPTION_EXPLAIN') }}</span>
                        </dt>
                        <dd><textarea id="file_desc_short" name="file_desc_short" rows="4" cols="80" maxlength="500"></textarea></dd>
                    </dl>
                    <dl>
                        <dt><label for="file_desc">{{ lang('ACP_SIMPLEDOWN_DESCRIPTION') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_DESCRIPTION_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <div class="bbcode-toolbar">
                                <button type="button" class="bbcode-btn" data-tag="b" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_BOLD') }}"><strong>B</strong></button>
                                <button type="button" class="bbcode-btn" data-tag="i" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_ITALIC') }}"><em>I</em></button>
                                <button type="button" class="bbcode-btn" data-tag="u" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_UNDERLINE') }}"><u>U</u></button>

                                <button type="button" class="bbcode-btn" data-tag="quote" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_QUOTE') }}">
                                    <i class="fa-solid fa-quote-left"></i>
                                </button>

                                <button type="button" class="bbcode-btn" data-tag="code" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_CODE') }}">
                                    <i class="fa-solid fa-code"></i>
                                </button>

                                <button type="button" class="bbcode-btn" data-tag="url" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_URL') }}">
                                    <i class="fa-solid fa-link"></i>
                                </button>

                                <button type="button" class="bbcode-btn" data-tag="img" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_IMG') }}">
                                    <i class="fa-solid fa-image"></i>
                                </button>

                                <button type="button" class="bbcode-btn" data-tag="list" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_LIST') }}">
                                    <i class="fa-solid fa-list-ul"></i>
                                </button>

                                <!-- Botão de cor nativo com preview da cor escolhida -->
                                <button type="button" class="bbcode-btn color-btn" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_COLOR') }}">
                                    <i class="fa-solid fa-palette"></i>
                                    <span class="color-preview"></span>
                                    <input type="color" id="color-picker-add" class="color-picker-input">
                                </button>

                                <select class="bbcode-btn size-select" title="{{ lang('ACP_SIMPLEDOWN_BBCODE_SIZE_TITLE') }}">
                                    <option value="" disabled selected>{{ lang('ACP_SIMPLEDOWN_BBCODE_SIZE') }}</option>
                                    <option value="50">{{ lang('ACP_SIMPLEDOWN_BBCODE_SIZE_VERY_SMALL') }}</option>
                                    <option value="85">{{ lang('ACP_SIMPLEDOWN_BBCODE_SIZE_SMALL') }}</option>
                                    <option value="100">{{ lang('ACP_SIMPLEDOWN_BBCODE_SIZE_NORMAL') }}</option>
                                    <option value="150">{{ lang('ACP_SIMPLEDOWN_BBCODE_SIZE_LARGE') }}</option>
                                    <option value="200">{{ lang('ACP_SIMPLEDOWN_BBCODE_SIZE_VERY_LARGE') }}</option>
                                </select>
                            </div>
                            <textarea id="file_desc" name="file_desc" rows="8" cols="80"></textarea>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="file_version">{{ lang('ACP_SIMPLEDOWN_VERSION') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_VERSION_EXPLAIN') }}</span>
                        </dt>
                        <dd><input type="text" id="file_version" name="file_version" maxlength="50" placeholder="ex: 2.1.0" /></dd>
                    </dl>
                    <dl>
                        <dt><label for="category">{{ lang('ACP_SIMPLEDOWN_CATEGORY') }}:</label></dt>
                        <dd>
                            <select id="category" name="category" required>
                                <option value="" disabled selected>{{ lang('ACP_SIMPLEDOWN_SELECT_CATEGORY_REQUIRED') }}</option>
                                {% for category in loops.categories %}
                                    <option value="{{ category.ID }}">{{ category.NAME }}</option>
                                {% endfor %}
                                {% if loops.categories is empty %}
                                    <option value="" disabled>{{ lang('ACP_SIMPLEDOWN_NO_CATEGORIES_YET') }}</option>
                                {% endif %}
                            </select>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label>{{ lang('ACP_SIMPLEDOWN_VISIBILITY') }}:</label>
                            <span>{{ lang('ACP_SIMPLEDOWN_VISIBILITY_EXPLAIN') }}</span>
                        </dt>
                        <dd>
                            <label><input type="radio" name="is_private" value="0" checked /> {{ lang('ACP_SIMPLEDOWN_PUBLIC') }}</label>&nbsp;&nbsp;&nbsp;
                            <label><input type="radio" name="is_private" value="1" /> {{ lang('ACP_SIMPLEDOWN_PRIVATE') }}</label>
                        </dd>
                    </dl>
                    <dl>
                        <dt><label for="file_upload">{{ lang('ACP_SIMPLEDOWN_UPLOAD_FILE') }}:</label></dt>
                        <dd>
                            <div class="custom-file-upload">
                                <input type="file" id="file_upload" name="file_upload" required />
                                <label for="file_upload" class="custom-file-label">
                                    <span>{{ lang('ACP_SIMPLEDOWN_CHOOSE_FILE') }}</span>
                                </label>
                                <span class="file-name-display" id="file-name-display">{{ lang('ACP_SIMPLEDOWN_NO_FILE_SELECTED') }}</span>
                            </div>
                        </dd>
                    </dl>
        <!-- Upload nova miniatura -->
            <dl>
                <dt><label for="thumb_upload">{L_ACP_SIMPLEDOWN_UPLOAD_THUMB}:</label>
                    <span>{L_ACP_SIMPLEDOWN_UPLOAD_THUMB_EXPLAIN}</span>
                </dt>
                <dd>
                    <div class="custom-file-upload">
                        <input type="file" id="thumb_upload" name="thumb_upload" accept="image/jpeg,image/png,image/gif,image/webp" />
                        <label for="thumb_upload" class="custom-file-label">
                            <span>{L_ACP_SIMPLEDOWN_CHOOSE_FILE}</span>
                        </label>
                        <span class="file-name-display" id="thumb-name-display">{L_ACP_SIMPLEDOWN_NO_FILE_SELECTED}</span>
                    </div>
                </dd>
            </dl>
                    <dl>
                        <dt><label for="existing_thumb">{{ lang('ACP_SIMPLEDOWN_SELECT_THUMB') }}:</label></dt>
                        <dd>
                            {% if S_THUMBS_EXIST %}
                                <select id="existing_thumb" name="existing_thumb">
                                    <option value="">{{ lang('ACP_SIMPLEDOWN_NO_THUMB') }}</option>
                                    {% for thumb in loops.thumbs %}
                                        <option value="{{ thumb.FILENAME }}">{{ thumb.FILENAME }}</option>
                                    {% endfor %}
                                </select>
                                <div id="thumb-preview" style="margin-top:15px;text-align:center;display:none;">
                                    <p><strong>{{ lang('ACP_SIMPLEDOWN_THUMB_PREVIEW') }}</strong></p>
                                    <img id="thumb-preview-img" src="" alt="Pré-visualização" style="max-width:200px;max-height:200px;border-radius:8px;box-shadow:var(--shadow);" />
                                </div>
                            {% else %}
                                <p>{{ lang('ACP_SIMPLEDOWN_NO_THUMBS') }}</p>
                            {% endif %}
                        </dd>
                    </dl>
                    <p class="submit-buttons">
                        <input class="button1" type="submit" name="submit" value="{{ lang('ACP_SIMPLEDOWN_UPLOAD_FILE') }}" />
                    </p>
                </fieldset>
            </form>
        </div>
        <!-- ABA UPLOAD THUMB -->
        <div id="tab-thumb" class="tab-panel">
            <form id="upload-thumb-form" method="post" action="{{ U_ACTION }}" enctype="multipart/form-data">
                {{ S_FORM_TOKEN }}
                <fieldset>
                    <legend>{{ lang('ACP_SIMPLEDOWN_UPLOAD_THUMB') }}</legend>
                    <p>{{ lang('ACP_SIMPLEDOWN_UPLOAD_THUMB_EXPLAIN') }}</p>
                    <dl>
                        <dt><label for="thumb_upload">{{ lang('ACP_SIMPLEDOWN_UPLOAD_THUMB') }}:</label></dt>
                        <dd>
                            <div class="custom-file-upload">
                                <input type="file" id="thumb_upload" name="thumb_upload" accept="image/jpeg,image/png,image/gif,image/webp" />
                                <label for="thumb_upload" class="custom-file-label">
                                    <span>{{ lang('ACP_SIMPLEDOWN_CHOOSE_FILE') }}</span>
                                </label>
                                <span class="file-name-display" id="thumb-name-display">{{ lang('ACP_SIMPLEDOWN_NO_FILE_SELECTED') }}</span>
                            </div>
                        </dd>
                    </dl>
                    <p class="submit-buttons">
                        <input class="button1" type="submit" name="thumb_submit" value="{{ lang('ACP_SIMPLEDOWN_UPLOAD_THUMB') }}" />
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- MODAL DE MENSAGENS -->
<div id="message-modal" class="modal">
    <div class="modal-content">
        <span class="close-modal">&times;</span>
        {% if ERROR_MESSAGE %}
            <h3 style="color:var(--danger);"><i class="fas fa-times-circle"></i> {{ lang('ACP_SIMPLEDOWN_ERROR') }}</h3>
            <p>{{ ERROR_MESSAGE }}</p>
        {% endif %}
        {% if SUCCESS_MESSAGE %}
            <h3 style="color:var(--success);"><i class="fas fa-check-circle"></i> {{ lang('ACP_SIMPLEDOWN_SUCCESS') }}</h3>
            <p>{{ SUCCESS_MESSAGE }}</p>
        {% endif %}
        {% if WARNING_MESSAGE %}
            <h3 style="color:#f39c12;"><i class="fas fa-exclamation-triangle"></i> {{ lang('ACP_SIMPLEDOWN_WARNING') }}</h3>
            <p>{{ WARNING_MESSAGE }}</p>
        {% endif %}
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Tabs
    const tabLinks = document.querySelectorAll('.acp-tabs-container .tabs a');
    const tabPanels = document.querySelectorAll('.acp-tabs-container .tab-panel');
    tabLinks.forEach(link => {
        link.addEventListener('click', e => {
            e.preventDefault();
            tabLinks.forEach(l => l.parentNode.classList.remove('active'));
            tabPanels.forEach(p => p.classList.remove('active'));
            link.parentNode.classList.add('active');
            document.querySelector(link.getAttribute('href')).classList.add('active');
        });
    });

    // BBCode toolbar - Add File
    const textarea = document.getElementById('file_desc');
    if (textarea) {
        // Objeto para salvar a seleção atual
        let savedRange = { start: 0, end: 0 };

        // Função para salvar a seleção atual
        const saveSelection = () => {
            savedRange.start = textarea.selectionStart;
            savedRange.end = textarea.selectionEnd;
        };

        // Salva a seleção em eventos relevantes
        textarea.addEventListener('select', saveSelection);
        textarea.addEventListener('keyup', saveSelection);
        textarea.addEventListener('mouseup', saveSelection);
        textarea.addEventListener('focus', saveSelection);
        textarea.addEventListener('click', saveSelection);

        const insertBBCode = (open, close = '') => {
            // Usa a seleção salva (ou atual se ainda existir)
            const start = savedRange.start;
            const end = savedRange.end;
            const selected = textarea.value.substring(start, end);
            const replacement = open + selected + close;
            textarea.value = textarea.value.substring(0, start) + replacement + textarea.value.substring(end);

            // Restaura foco e posiciona o cursor após o BBCode inserido
            textarea.focus();
            const newCursorPos = start + open.length + selected.length;
            textarea.setSelectionRange(newCursorPos, newCursorPos);

            // Atualiza a seleção salva para a próxima ação
            savedRange.start = newCursorPos;
            savedRange.end = newCursorPos;
        };

        document.querySelectorAll('.bbcode-btn[data-tag]').forEach(btn => {
            btn.addEventListener('click', () => {
                saveSelection(); // Garante que a seleção está salva antes de inserir
                let open = '[' + btn.dataset.tag + ']';
                let close = '[/' + btn.dataset.tag + ']';
                if (btn.dataset.tag === 'url') open = '[url=https://]';
                if (btn.dataset.tag === 'list') {
                    open = '[list]\n[*]';
                    close = '\n[/list]';
                }
                insertBBCode(open, close);
            });
        });

        // Color picker nativo com preview no botão
        const colorPicker = document.getElementById('color-picker-add');
        const colorPreview = document.querySelector('.color-preview');

        if (colorPicker && colorPreview) {
            // Cor inicial (preto)
            colorPreview.style.background = '#000000';
            colorPicker.value = '#000000';

            // Salva seleção ao clicar no picker (antes de abrir o popup)
            colorPicker.addEventListener('click', saveSelection);

            // Preview em tempo real enquanto escolhe
            colorPicker.addEventListener('input', () => {
                colorPreview.style.background = colorPicker.value;
            });

            // Ao confirmar a cor
            colorPicker.addEventListener('change', () => {
                const color = colorPicker.value.toUpperCase();

                // Insere o BBCode na seleção salva
                insertBBCode('[color=' + color + ']', '[/color]');

                // Atualiza o preview da cor no botão
                colorPreview.style.background = colorPicker.value;
            });
        }

        // Size select
        document.querySelectorAll('.size-select').forEach(select => {
            select.addEventListener('change', () => {
                saveSelection(); // Garante seleção salva
                const size = select.value;
                if (size) insertBBCode('[size=' + size + ']', '[/size]');
                select.value = '';
            });
        });
    }

    // Nome dos arquivos
    const noFileText = "{{ lang('ACP_SIMPLEDOWN_NO_FILE_SELECTED')|escape('js') }}";
    ['file_upload', 'thumb_upload'].forEach(id => {
        const input = document.getElementById(id);
        const display = document.getElementById(id === 'file_upload' ? 'file-name-display' : 'thumb-name-display');
        if (input && display) {
            input.addEventListener('change', () => {
                display.textContent = input.files.length ? input.files[0].name : noFileText;
            });
        }
    });

    // Preview thumbnail
    const thumbSelect = document.getElementById('existing_thumb');
    const previewDiv = document.getElementById('thumb-preview');
    const previewImg = document.getElementById('thumb-preview-img');
    if (thumbSelect && previewDiv && previewImg) {
        const thumbsDir = "{{ THUMBS_DIR|escape('js') }}";
        thumbSelect.addEventListener('change', () => {
            const val = thumbSelect.value.trim();
            if (val) {
                previewImg.src = thumbsDir + encodeURIComponent(val) + '?t=' + Date.now();
                previewDiv.style.display = 'block';
            } else {
                previewDiv.style.display = 'none';
            }
        });
        if (thumbSelect.value) thumbSelect.dispatchEvent(new Event('change'));
    }

    // Modal mensagens
    const modal = document.getElementById('message-modal');
    if (modal) {
        modal.querySelector('.close-modal').addEventListener('click', () => modal.style.display = 'none');
        window.addEventListener('click', e => { if (e.target === modal) modal.style.display = 'none'; });
        {% if ERROR_MESSAGE or SUCCESS_MESSAGE or WARNING_MESSAGE %}
            modal.style.display = 'flex';
        {% endif %}
    }
});
</script>
<!-- INCLUDE overall_footer.html -->